<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Story 5 Fauzan Hanandito</title>
        <style>
            body {
                font-size: 25px;
                text-align: center;
            }

            table {
                margin: auto;
            }
        </style>
    </head>
    <body>
        <h2>Silahkan isi matkul kalian :D</h2>
        </br>
        <div>
            <form action="add_matkul" method="POST">
                {% csrf_token %}
                {{ form_matkul.as_p }}
                <button type="submit" style="font-size:20px">Submit</button>
            </form>
        </div>
        <br>
        <div>
            {% for s in list_matkul %}
            <table>
                <tr>
                    <td> {{ s.nama_matkul }} </td>
                    <td> {{ s.dosen }} </td> 
                    <td> {{ s.jumlah_sks }} </td>
                    <td> {{ s.deskripsi }} </td>
                    <td> {{ s.semester_tahun }}</td>
                    <td> {{ s.ruang_kelas }}</td>
                    <td> <a href="{% url 'app5:delete' s.id %}"><button type="button" style="font-size:20px">Delete</button></a></td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </body>
</html>
